.link {
  color: var(--color--text);
  display:block;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  font-weight: 600;
  font-size:1.4rem;
}

.link span {
  font-weight: 300;
}


.link:hover {
  text-decoration: none;
}
