:root {
  --color--background:#001e2f;
  --color--textoffset:#143044;
  --color--primary:#4902de;
  --color--secondary:#9e76ff;
  --color--tertiary: #758a98;
  --color--text:#ffffff;
}

* {
  margin: 0;
  padding:0;
  box-sizing:border-box;
}
